.center {
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
/* button download */

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  /* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
  }

  /* Contact me section */



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* --------------------------------- */






/* Text next to image - index home page */


.textimg {
  display: flex;
  align-items: center;
  justify-content: center
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

img {
  width: 100%;
  height: auto;
}

.image {
  flex-basis: 100%
}



  /*This is all about the footer */

  .footer {
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

 /* home page grids for projects */

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #bcbcbb;
    padding: 40px;
    column-gap: 20px;
   
   
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 30px;
    text-align: center;
   
  }
  
  /* START HEADER SETTINGS */A

  /* header settings  - contains name/ brief text quote/image (Dante Company)*/ 

  .position {
   
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 10px;
    position: center;
  }

  .DCHeader{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }

  .DCHeaderText{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

  

/* END SETTINGS FOR HEADER SETTINGS / IMAGE / TEXT / NAME */

  /* working with image adjustments below */

  .autoimages {
 width: 100%;
 height: 300px;

  }

  /* test menu */

  .topnav {
    overflow: hidden;
    background-color: #fafafa;
  }
  
  .topnav a {
    float: left;
   
    color: #969696;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .active {
    background-color: #373737;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: 969696;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  /* learn more button index screen */

  .indexbtn{
    margin-top: 40px;
  }

  /* text on image learning section*/

  .txtimg {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .textcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

.learnimgsize {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.learnJour{
  font-size: 20px;
  margin-top: 80px;
}